@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600;700&family=Roboto+Mono:wght@300;400&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  color: #425a70;
}

section {
  scroll-margin-top: 69px;
  padding: 5rem 2rem;
}
section h2 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 10;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  background-color: #dbeaf7;
  z-index: 2;
}
.header__logo {
  font-weight: 700;
  color: #234361;
}
.header .hamburger {
  display: none;
}
.header .list__item {
  display: inline-block;
}
.header .list__link {
  font-weight: 700;
  color: #234361;
  margin: 0 16px;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}
.header .list__link:hover {
  color: #4da8ff;
}

@media screen and (max-width: 768px) {
  .header {
    background-color: #1070ca;
    color: #ffffff;
    padding: 0.5rem 0;
    text-align: center;
  }
  .header__logo {
    color: #ffffff;
  }
  .header .hamburger {
    display: block;
  }
  .header__navigation {
    color: #ffffff;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
  }
  .header__navigation--mobile {
    max-height: 100vh;
  }
  .header .list {
    padding: 0;
  }
  .header .list__item {
    display: block;
    margin: 1.5rem;
  }
  .header .list__link {
    color: #ffffff;
  }
}
.main {
  padding-top: 70px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes backgroundSlideIn {
  from {
    background-position: 110%;
  }
  to {
    background-position: 90%;
  }
}
@keyframes backgroundSlideIn--mobile {
  from {
    background-position: 95% 85%;
  }
  to {
    background-position: center 85%;
  }
}
.welcome {
  position: relative;
  background-color: #dbeaf7;
  height: 70vh;
  background-image: url("../../img/undraw_programming_re_kg9v (1).svg");
  background-position: 90%;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  animation: backgroundSlideIn 1s;
}
.welcome__container {
  position: absolute;
  top: 20vh;
  left: 10vw;
  width: 30%;
  animation: slideIn 1s;
}
.welcome__heading {
  font-size: 2.5rem;
  margin: 0;
  color: #234361;
}
.welcome__speach {
  font-size: 1.1rem;
  margin: 1.5rem 0;
}
.welcome__speach .speach__bolder-word {
  color: #1070ca;
}
.welcome__contact-button {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 0.5;
  gap: 10px;
  background-color: #1070ca;
  border: none;
  color: #f6f9fd;
  border-radius: 16px;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.welcome__contact-button:hover {
  background-color: #234361;
}
.welcome__contact-button:hover img {
  transition: all 0.5s ease-in-out;
  transform: rotate(-360deg);
}

@media screen and (max-width: 530px) {
  .welcome {
    height: 70vh;
    display: flex;
    align-content: center;
    background-position: center 85%;
    background-size: 70%;
    animation: backgroundSlideIn--mobile 1s;
  }
  .welcome__container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    position: static;
    text-align: center;
    animation: slideIn 1s;
  }
  .welcome__contact-button {
    margin: 0 auto;
  }
}
.skills {
  min-height: 80vh;
  text-align: center;
}
.skills__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  line-height: 2;
}
.skills__container div {
  padding: 3rem;
  background-color: #1070ca;
  color: #ffffff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}
.skills__container div:hover {
  transform: scale(1.1);
}
.skills .working-knowledge__img {
  width: 50px;
}
.skills .working-knowledge__list {
  font-weight: 100;
  text-align: left;
  list-style-image: url("../../img/small-tick-checked.svg");
}
.skills .know-something-about__img {
  width: 40px;
}
.skills .know-something-about__list {
  font-weight: 100;
  text-align: left;
  list-style-image: url("../../img/small-tick.svg");
}
.skills .want-to-learn__img {
  width: 50px;
}
.skills .want-to-learn__list {
  font-weight: 100;
  text-align: left;
  list-style-type: disc;
}

@media screen and (max-width: 1024px) {
  .skills__container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .skills__container div {
    padding: 2rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .skills__container {
    width: 100%;
  }
}
.projects {
  background-color: #f6f9fd;
  min-height: 80vh;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.projects__heading {
  margin: 0;
  padding-bottom: 3rem;
}
.projects__speach {
  text-align: center;
}
.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}
.projects .project {
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  background-color: #212528;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
  color: #808082;
  border-radius: 16px;
  width: 80%;
}
.projects .project__window {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
  background-color: #1e1e1e;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.projects .project__window .window__circle {
  display: block;
  background-color: #464a4d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.projects .project__window .window__circle:first-of-type:hover {
  background-color: #ff605c;
}
.projects .project__window .window__circle:nth-of-type(2):hover {
  background-color: #ffbd44;
}
.projects .project__window .window__circle:last-of-type:hover {
  background-color: #00ca4e;
}
.projects .project__img {
  position: absolute;
  top: 20%;
  left: 10%;
  transition: all 0.3s ease-in-out;
}
.projects .project__img:hover {
  transform: scale(1.5);
}
.projects .project__container {
  padding: 4rem 2rem;
}
.projects .project__title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  color: #808082;
}
.projects .project__title .title__label {
  text-align: right;
}
.projects .project__title .title__value--title {
  color: #ffffff;
}
.projects .project__title .title__value--description {
  color: #a3a3a3;
  margin-bottom: 2rem;
}
.projects .project__title .title__value--link {
  color: #14b5d0;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .projects {
    margin-top: 0;
  }
  .projects__container {
    grid-template-columns: 1fr;
  }
  .projects .project {
    width: 80%;
  }
  .projects .project__container {
    padding: 4rem 1rem;
  }
  .projects .project__title {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 768px) {
  .project {
    width: 100% !important;
  }
  .project__title {
    padding: 0 1rem;
    display: block !important;
    flex-direction: column;
  }
}
.contact__heading {
  padding-bottom: 3rem;
}
.contact__speach {
  text-align: center;
}
.contact__container {
  margin: 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact .list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.contact .list .list__item {
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: #f6f9fd;
  box-shadow: 0 0 25px #c9c9c9;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.contact .list .list__item:hover {
  background-color: #1070ca;
}
.contact .list .list__item__link img {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transform: scale(1.8);
}
.contact__mail-link {
  padding: 1rem;
  background-color: #4da8ff;
  border-radius: 25px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.contact__mail-link:hover {
  background-color: #1070ca;
}

@media screen and (max-width: 768px) {
  .contact__container {
    margin: 5rem 0 0 0;
    flex-wrap: wrap;
  }
  .contact__list {
    width: 100%;
    margin-bottom: 5rem;
    padding: 0;
    justify-content: center;
  }
}
.footer {
  height: 15vh;
  background-color: #1070ca;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 2rem;
}/*# sourceMappingURL=style.css.map */