@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;600;700&family=Roboto+Mono:wght@300;400&display=swap");

// variables
$black: #000;
$blue: #1070ca;
$blue-light: #dbeaf7;
$blue-lightest: #f6f9fd;
$console-grey1: #1e1e1e;
$console-grey2: #212528;
$console-grey3: #464a4d;
$conosle-grey4: #808082;
$console-grey5: #a3a3a3;
$console-text-link: #14b5d0;
$green: #06c847;
$text-link: #4da8ff;
$text-text-dark: #234361;
$text-text-default: #425a70;
$text-text-muted: #66788a;
$white: #ffffff;
$box-shadow: #c9c9c9;

$header-high: 70px;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $white;
  color: $text-text-default;
}

section {
  scroll-margin-top: $header-high - 1px;
  padding-top: 5rem;
  h2 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 5rem;
    text-align: center;
  }
}

a {
  text-decoration: none;
}

@import "modules/header";
@import "modules/main";
@import "modules/welcome";
@import "modules/skills";
@import "modules/projects";
@import "modules/contact";
@import "modules/footer";
