.skills {
  min-height: 80vh;
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    line-height: 2;

    & div {
      padding: 3rem;
      background-color: $blue;
      color: $white;
      backdrop-filter: blur(5px);
      border-radius: 16px;
      transition: all .3s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }

    &__working-knowledge {
      &__img {
        width: 50px;
      }
      &__list {
        font-weight: 100;
        text-align: left;
        list-style-image: url("../../img/small-tick-checked.svg");
      }
    }
    &__know-something-about {
      &__img {
        width: 40px;
      }
      &__list {
        font-weight: 100;
        text-align: left;
        list-style-image: url("../../img/small-tick.svg");
      }
    }
    &__want-to-learn {
      &__img {
        width: 50px;
      }
      &__list {
        font-weight: 100;
        text-align: left;
        list-style-type: disc;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .skills{
    &__container {
      display: block;
      width: 80%;
      margin: 0 auto;
      & div {
        padding: 2rem;
        margin-bottom: 5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills{
    &__container {
      width: 100%;
    }
  }
}