@keyframes slideIn {
    from { transform: translateX(-100px); }
    to   { transform: translateX(0); }
}

@keyframes backgroundSlideIn {
    from { background-position: 110%; }
    to   { background-position: 90%; }
}

@keyframes backgroundSlideIn--mobile {
    from { background-position: 95% 85%; }
    to   { background-position: center 85%; }
}

.welcome {
  position: relative;
  background-color: $blue-light;
  height: 70vh;
  background-image: url("../../img/undraw_programming_re_kg9v\ \(1\).svg");
  background-position: 90%;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  animation: backgroundSlideIn 1s;
  &__container {
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 30%;
    animation: slideIn 1s;
  }

  &__heading {
    font-size: 2.5rem;
    margin: 0;
    color: $text-text-dark;
  }
  &__speach {
    font-size: 1.1rem;
    margin: 1.5rem 0;

    .speach__bolder-word {
      color: $blue;
    }
  }
  &__contact-button {
    display: flex;
    align-items: center;
    width: fit-content;
    line-height: 0.5;
    gap: 10px;
    background-color: $blue;
    border: none;
    color: $blue-lightest;
    border-radius: 16px;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $text-text-dark;

      & img {
        transition: all 0.5s ease-in-out;
        transform: rotate(-360deg);
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .welcome {
    height: 70vh;
    display: flex;
    align-content: center;
    background-position: center 85%;
    background-size: 70%;
    animation: backgroundSlideIn--mobile 1s;
    &__container {
      display: flex;
      align-content: center;
      flex-direction: column;
      width: 100%;
      position: static;
      text-align: center;
      animation: slideIn 1s;
    }
    &__contact-button {
      margin: 0 auto;
    }
  }
}
